#sold-color {
    color: green;
    font-size: 40px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
}

#sold-header {
    font-size: 40px;
    font-family: Tahoma, sans-serif;
}

#purchased-color {
    color: blue;
    font-size: 40px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
}

#totalStock-color {
    color: red;
    font-size: 40px;
    font-family: Tahoma, sans-serif;
    font-weight: bolder;
}

#header-stock {
    font-size: 40px;
    font-family: Tahoma, sans-serif;
}

#header-bought{
    font-size: 40px;
    font-family: Tahoma, sans-serif;
}